*{
    margin: 0;
    padding: 0;
}
.header-wrapper{
    background: #0e4b63;
    color: white;
    font-size: 50px;
    font-weight: 900;
    font-family:  Calibri;
    padding: 10px 0 15px 0;
    text-align: center;
}
.wrapper1-image img{
    width: 100%;
}
.wrapper2 {
    display: flex;
    justify-content: space-between;
    padding: 8% 10% 0 10%; 
    align-items: center; 
}

.wrapper2-image1, 
.wrapper2-text, 
.wrapper2-image2 {
    width: 32%;
    aspect-ratio: 1 / 1; 
}

.wrapper2-image1 img, 
.wrapper2-image2 img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    display: block;
}

.wrapper2-text {
    background: #e94b5a;
    font-size: 4vw; 
    font-weight: 500;
    font-family: Calibri, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.wrapper3{
    padding: 4vw ;
    text-align: center;
    font-size: 4vw;
    font-weight: 900;
    font-family: Calibri;
}
.wrapper4{
    display: flex;
    justify-content: space-between;
    padding:0 10%;
}
.wrapper4-image1,
.wrapper4-image2{
    width: 45%;
}
.wrapper5{
    margin-top: 50px;
    background: #0e4b63;
    color: white;
    text-align: center;
    font-size: 4vw;
    font-weight: 700;
    font-family: Calibri;
    padding-top: 40px;
    padding-bottom: 60px;
}